<div class="card-deck">
    <ng-template ngFor let-card [ngForOf]="cards">
        <div class="card text-center bg-light border-light mb-3" [title]="[card.hint]" [routerLink]="[card.url]" routerLinkActive="active">
            <div class="card-header">
                <h2 class="text-muted">{{ card.title }}</h2>
            </div>
            <div class="card-block">
                <p class="text-muted">{{ card.description }}</p>
            </div>
            <div class="card-footer">
                <h3 class="text-muted">{{ card.subTitle }}</h3>
            </div>
        </div>
    </ng-template>
</div>