<header>
  <nav class="navbar navbar-expand fixed-top navbar-dark flex-column flex-md-row bd-navbar">
    <!-- style="background-color: #e3f2fd;" target="_blank"  -->
    
    <a class="card"  rel="noopener" href="/">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>   
    </a>

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <ng-template ngFor let-navItem [ngForOf]="navItems">
          <li class="nav-item">
            <a class="nav-link" [id]="[navItem.id]" [routerLink]="[navItem.url]" routerLinkActive="active">{{navItem.name}}</a>
          </li>
        </ng-template>
      </ul>
    </div>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Mohammed Sarbudeen
        </a>
        <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
          <a class="dropdown-item active" href="/home">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/home">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</header>